<body>
  <div>
<app-header></app-header>
<app-home></app-home>
</div>
</body>
  <!--  <app-menubar></app-menubar>

<app-home></app-home>
<app-admin-home></app-admin-home>
<app-admin-approve></app-admin-approve>
<app-admin-home></app-admin-home>
<app-apply>
</app-apply>
 <app-newapplicant></app-newapplicant>

  <app-mainbody></app-mainbody>
  
  <app-footer></app-footer>  
<app-user-details></app-user-details>
  <app-header></app-header>
   <app-simple-interest></app-simple-interest> -->
  <!--<app-emi-calculator></app-emi-calculator> -->
   <!-- <app-add-payee></app-add-payee> -->
 <!--<app-applicant></app-applicant> --> 
<!--
 <app-imps-transfer></app-imps-transfer>
 <app-neft-transfer></app-neft-transfer>

 <app-applicant></app-applicant>
  -->

<!--<app-calculator></app-calculator>-->
  <!-- <app-currency-converter></app-currency-converter>-->
  <!-- <app-user-details></app-user-details> -->
 <!-- <h2  style="color: blueviolet;">Example of Angular Pipe</h2>
  <hr>
  {{"Hello, How Are You feeling Now" | uppercase }} <br>
  {{"Hello, How Are You feeling Now" | lowercase }} <br>
  {{"Hello, How Are You feeling Now" | titlecase }}
  <br>
  <br>
  <hr>
  Date Of Transaction is {{dateOfTxn }} <br>
  Short Date Of Transaction is {{dateOfTxn | date : 'short' }} <br>
  Medium Date Of Transaction is {{dateOfTxn  | date : 'medium'}} <br>
  Long Date Of Transaction is {{dateOfTxn | date : 'long'}} <br>
  <hr>
  shortDate Of Transaction is {{dateOfTxn | date : 'shortDate' }} <br>
  mediumDate Of Transaction is {{dateOfTxn | date : 'mediumDate' }} <br>
  longDate Of Transaction is {{dateOfTxn | date : 'longDate' }} <br>
  <hr>
  shortTime Of Transaction is {{dateOfTxn | date : 'shortTime' }} <br>
  mediumTime Of Transaction is {{dateOfTxn | date : 'mediumTime' }} <br>
  longTime Of Transaction is {{dateOfTxn | date : 'longTime' }} <br>
  <hr>
  Bank Balance is {{ balance }} <br>
  Bank Balance is {{ balance| currency}} <br>
  Bank Balance is {{ balance| currency: 'INR'}} <br>
  Bank Balance is {{ balance| currency:'EUR'}} <br>
  Bank Balance is {{ balance| currency:'CAD'}} <br>  -->
  